:root {
    --font-color: #000000;
    --font-family: Arimo;
    --font-size-body: 11pt;
    --font-size-full-name: 22pt;
    --font-size-heading-primary: 12pt;
    --font-size-heading-secondary: 11pt;
    --font-size-minor-copy: 11pt;
    --font-size-section-title: 12pt;
    --font-size-separator: 11pt;
    --font-weight-body: 300;
    --font-weight-full-name: 600;
    --font-weight-heading-primary: 600;
    --font-weight-heading-secondary-work: 600;
    --font-weight-heading-secondary: 300;
    --font-weight-minor-copy-work: 600;
    --font-weight-minor-copy: 300;  
    --font-weight-section-title: 600;
    --font-weight-separator: 300;
    --letter-spacing: 0;
    --letter-spacing-heading-primary: 0.0;
    --letter-spacing-heading-secondary: 0.0;
    --letter-spacing-section-title: 0.0;
    --line-height: 120%;
    --line-height-block-heading: 100%;
    --line-height-list-item: 120%;
    --separator-char: '•';
    --separator-spacing: 0 2pt;
    --spacing-block-heading: 4pt;
    --spacing-block-content: 8pt;
    --spacing-header-content: 4pt;
    --spacing-list: 4pt;
    --spacing-sections: 22pt;
    --spacing-section-blocks: 8pt;
    --spacing-section-content: 8pt;
    --spacing-titles-content: 10pt;
    --text-align-header: left;
    --text-transform-section-title: uppercase;
}